body{
    font-family: 'STIX Two Math', serif;
    margin: auto;
    background-color: whitesmoke;
}
#order{
    text-decoration: none;
    background-image: linear-gradient(grey,rgb(48, 47, 47));
    padding:25px 25px;
    color:whitesmoke;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 5%;
}
.section{
    display: flex;
}
.sectiontxt{
    margin-top: 12%;
    padding-left: 5%;
    width: 50%;
}
span{
    color: orange;
}
h1{
    font-size: 60px;
    color: rgb(97, 97, 97);
    font-weight: 900;
}
#bold{
    color: rgb(95, 94, 94);
    font-size: 22px;
}
#section2img{
    padding-left: 8%;
    padding-top: 5%;
    border-radius: 50%;

}
.section2txt{
    margin-top: 200px;
    padding: 100px 100px;
}
.aboutandmyrecipes{
    text-align: center;
    color: rgb(97, 97, 97);
    font-size: 30px;
}
#section2{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#fontsizeS2{
    font-size: 15px;
    color: rgb(12, 12, 12);
}
.centre2{
    text-align: center;

}
.recipe{
    border-left: 15px solid white;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-bottom: 30px solid white;
    border-radius: 20px;
    border-image-slice: 1;
    box-shadow: 5px 5px 60px .5px rgb(202, 201, 201);
    margin-left: 9%;
    width: 20%;
}
.recipepadding
{
    padding-top: 40px;
    padding-bottom: 100px;
}
#footer{
    padding-top: 50px;
    background-color: black;
    color: white;
    padding-bottom: 100px;
}
.section3{
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: white;
}